<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Configurações da porta -->
    <add key="PortName" value="COM3" />
    <add key="BaudRate" value="9600" />
    <add key="DataBits" value="8" />
    <add key="ReadTimeout" value="500" />
    <add key="WriteTimeout" value="500" />
    <add key="NewLine" value="vbCr" />
    <!-- Diretório onde salva o arquivo de configuração do conexão com porta -->
    <add key="FileDirectoryPath" value="C:\BalancaForlog\SerialSetup" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsBalancaSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:17746/wsbalanca.asmx" binding="basicHttpBinding" bindingConfiguration="wsBalancaSoap" contract="servicoBalanca.wsBalancaSoap" name="wsBalancaSoap" />
    </client>
  </system.serviceModel>
</configuration>